<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: #dbdfaa">
    <h1></h1>
    <div class="first-card">
      <div class="card-header">
        <h3>chmod generator</h3>
        <span
          >a minimal web application to generate chmod permission strings</span
        >
      </div>

      <div class="permission-table">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>owner rights (u)</th>
              <th>group rights (g)</th>
              <th>other rights (o)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="left-align">Read [4]</td>
              <td>
                <input
                  type="checkbox"
                  name="user-read"
                  id="u-r"
                  [(ngModel)]="checkboxes[0]"
                  (ngModelChange)="onCheckboxChange(0)"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  name="group-read"
                  id="g-r"
                  [(ngModel)]="checkboxes[3]"
                  (ngModelChange)="onCheckboxChange(3)"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  name="other-read"
                  id="o-r"
                  [(ngModel)]="checkboxes[6]"
                  (ngModelChange)="onCheckboxChange(6)"
                />
              </td>
            </tr>
            <tr>
              <td class="left-align">Write [2]</td>
              <td>
                <input
                  type="checkbox"
                  name="user-write"
                  id="u-w"
                  [(ngModel)]="checkboxes[1]"
                  (ngModelChange)="onCheckboxChange(1)"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  name="group-write"
                  id="g-w"
                  [(ngModel)]="checkboxes[4]"
                  (ngModelChange)="onCheckboxChange(4)"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  name="other-write"
                  id="o-w"
                  [(ngModel)]="checkboxes[7]"
                  (ngModelChange)="onCheckboxChange(7)"
                />
              </td>
            </tr>
            <tr>
              <td class="left-align">Execute [1]</td>
              <td>
                <input
                  type="checkbox"
                  name="user-execute"
                  id="u-e"
                  [(ngModel)]="checkboxes[2]"
                  (ngModelChange)="onCheckboxChange(2)"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  name="group-execute"
                  id="g-e"
                  [(ngModel)]="checkboxes[5]"
                  (ngModelChange)="onCheckboxChange(5)"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  name="other-execute"
                  id="o-e"
                  [(ngModel)]="checkboxes[8]"
                  (ngModelChange)="onCheckboxChange(8)"
                />
              </td>
            </tr>
          </tbody>
        </table>

        <div class="result" *ngIf="isResultVisible">
          <p class="result-octal-text">octal chmod command</p>
          <p class="result-octal-value">{{ generatedOctalResult }}</p>
          <p class="result-symbolic-text">symbolic chmod command</p>
          <p class="result-symbolic-value">{{ generatedSymbolicResult }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
